body {
  margin: 0;
  padding: 0;
  background: #000; /* Чёрный фон */
  overflow: hidden;
  height: 100vh;
  cursor: pointer;
}

.pulse-background {
  position: absolute;
  left: 75%;
  width: 100vw; /* Ширина контейнера */
  height: 100vh; /* Высота контейнера */
  background-image: url('./img/Neonright.png'); /* Устанавливаем картинку как фон */
  background-repeat: no-repeat; /* Отключаем повторение фона */
  background-size: 30% 100%; /* Начальный размер фона */
  animation: skewAnimation 5s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
  transition: background-size 0.2s ease-out; /* Плавный переход */
  filter: blur(25px) brightness(1.6) contrast(1.1);
}
/* Наложение динамического слоя */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 10% 10%, rgb(153, 0, 255), rgb(0, 4, 255, 0.4));
  mix-blend-mode: overlay; /* Накладываем эффект */
  animation: gradientFlow1 5s ease-in infinite; /* Увеличиваем время анимации */
  z-index: 2;
}

/* Анимация для фона */
@keyframes skewAnimation {
  0% {
    background-size: 30% 100%;
  }
  100% {
    background-size: 35% 100%;
  }
}
@keyframes gradientFlow1 {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.8;
  }
  75%{
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
